@charset "UTF-8";

body{
	font-family: arial, sans-serif
}

.navbar {
	background-color: #585858;
	
}

.quem-somos{
	background-color: #A4A4A4;
	color: white;
	
}

.margin{
	padding-top: 10px;
	padding-bottom: 10px;
	
}